.fun {
    position: relative;
    z-index: 1;
}

.fun-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgba(179, 193, 255, 0.7);
    border-radius: 50px;
    width: 82.5vw;

    padding: 4rem 3rem;
    justify-content: center; /* Center grid items horizontally */
    gap: 2.5rem; /* Add some space between the grid items */
    margin-top: 8rem;
}

.fun .card {
    border: none;
    box-shadow: 0 2px 40px 0 rgb(152, 165, 226);
    overflow: hidden;
    transform: translateY(0);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out; /* Add transition for hover effect */
    border-radius: 1em;
    width: 40vw;
}


.fun .card:hover, .card:focus {
    box-shadow: 0 2px 40px 0 rgb(106, 116, 164);
    transform: translateY(-0.8rem);
}

.fun .info {
    background-color: #fef8f5;
    padding: 0.5rem 0;
    color: #3a3a3a;
}

.fun a {
    text-decoration: none;
}

.fun .preview-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50vh;
    z-index: -1;
}

.fun .preview-image img {
    width: 100%;
}

.fun .all-skills {
    display: flex;
    flex-direction: row;
    margin-left: 1.9rem;
    margin-bottom: 0.4rem;
}

.fun .skill {
    border-radius: 0.4rem;
    border: 1px solid #3a3a3a;
    margin-right: 0.6rem;
}

.fun .water-full {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -1rem;
    width: 100%;
    height: 102%;
    background-image:
    url('/home/water-full3.png');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
    z-index: -1000;
}


.fun .water-full-mask { 
  position: absolute;
  margin-top: -0.75rem;
  width: 100%;
  height: 100%;
  background-image:
    url('/home/water-full3.png');
  background-size: cover;
  background-position: center top;
  background-repeat: repeat-y;
  filter: url("#turbulence");
  z-index: -1; /* Ensure it stays behind other content */ 
}

