@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.fun {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
}


.fun .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 1.7rem 5rem 0rem 5rem;
}

.fun .grid > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.fun .grid > :nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

.fun .grid > :nth-child(3) {
  grid-row: 1;
  grid-column: 2;
}

.fun .grid > :nth-child(1){
  padding-bottom: 0;
}

.fun .grid > :nth-child(2){
  padding-top: 0;
  margin-top: 0rem;
}

.fun h1 {
    font-family: "punch-holes";
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: 0.05cap;
    margin-top: 0.9rem;
    margin-bottom: 1.4rem;
    padding: 0;
    text-align: center;
    color: #18181b;
}

.fun h2 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
  color: #4e4e54;
  margin: 0rem 1.05rem;
  text-align: center;
}

/*------------------------ Media Queries --------------------------*/

@media screen and (max-width: 1440px) {
  .fun h1 {
    font-size: 3.25rem;
  }

  .fun h2 {
    font-size: 1.1rem;
  }

}


@media screen and (max-width: 768px) {

  .fun {
    padding: 0rem 2.5rem 2rem 2.5rem;
  }

  .fun .grid {
    gap: 0rem 2.5rem;
  }

  .cutout-text {
    font-size: 2.4rem;
  }


  .fun-cards {
    padding: 0;
  }

  .fun .card {
    width: 42.5vw;
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .fun .preview-image {
    height: auto;
  }

  .preview-image img {
    width: 22rem;
  }

  .card h3 {
    margin: 0.5rem 1rem 0.5rem 0rem;
    line-height: 3.25rem;
  }

  h4 {
    font-size: 1.1rem; /* Reduce font size */
    margin: 0.5rem 1rem; /* Adjust margins */
  }

  h5 {
    font-size: 0.9rem; /* Reduce font size */
  }

  .fun .info .all-skills {
    margin-left: 1rem; /* Remove left margin */
  }


}


@media screen and (max-width: 600px) {

  .fun .grid {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
}

.fun .card {
  width: 80vw;
}

.fun .preview-image img {
  width: 100%;
}


}


