@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.fun {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
  margin-top: 5rem;
}


.fun .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 2.2rem 6rem;
}

.fun .grid > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.fun .grid > :nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

.fun .grid > :nth-child(3) {
  grid-row: 1;
  grid-column: 2;
}

.fun .grid > :nth-child(1){
  padding-bottom: 0;
}

.fun .grid > :nth-child(2){
  padding-top: 0;
  margin-top: 0rem;
}

.fun h1 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0.5rem 2.7rem 0.5rem 0rem;
  letter-spacing: 1.1px;
  text-align: left;
  color: #2b2b2b;
}

.fun h2 {
  font-family: "forma-djr-text", sans-serif;
  color: rgba(43, 43, 43, 0.75);
  font-size: 1.15rem;
  font-weight: 625;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  margin: 0rem 1.05rem;
}

/*------------------------ Media Queries --------------------------*/

/* Media Query for screens 1024px or smaller */
@media screen and (max-width: 1024px) {
  .fun h3 {
    font-size: 2.05rem;
  }

  .fun h4 {
    font-size: 1.125rem;
  }

  .fun .preview-image {
    height: 43.5vh;
  }

}

/* Media Query for screens 768px or smaller */
@media screen and (max-width: 768px) {
  .fun .fun-cards {
    gap: 1.25rem;
  }

  .fun .card {
    width: 45vw;
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .fun .preview-image {
    height: 38.5vh;
  }


  .fun h3 {
    font-size: 2rem; /* Reduce font size for smaller screens */
    margin: 0rem 1rem; /* Adjust margins */
    line-height: 2.6rem;
  }

  .fun h4 {
    font-size: 1.05rem; /* Reduce font size */
    margin: 0.5rem 1rem; /* Adjust margins */
  }

  .fun h5 {
    font-size: 0.9rem; /* Reduce font size */
  }

  .fun .info .all-skills {
    margin-left: 1.1rem; /* Remove left margin */
  }

  .fun .skill {
    text-align: center; /* Center the text */
  }
}

/* Media Query for screens 600px or smaller */
@media screen and (max-width: 600px) {
  .fun .fun-cards {
    grid-template-columns: 1fr;
  }

  .fun .card {
    width: 80vw; /* Adjust card width */
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .fun .preview-image {
    height: 34.75vh; /* Adjust image height */
  }

  .fun .all-skills {
    row-gap: 0.5rem; /* Add space between skills */
  }

  .fun .info .all-skills {
    margin-left: 0.9rem;
    margin-bottom: 0.4rem;
  }

  .fun h3 {
    font-size: 1.8rem; /* Further reduce font size */
    margin: 0 0.75rem; /* Adjust margins */
  }

  .fun h4 {
    font-size: 0.9rem; /* Further reduce font size */
    margin: 0.2rem 0.75rem; /* Adjust margins */
    margin-bottom: 0.35rem;
  }

  .fun h5 {
    font-size: 0.9rem; /* Further reduce font size */
    margin: 0.3rem 0.4rem; /* Adjust margins */
  }

  .fun .skill {
    text-align: center; /* Center the text */
  }
}

@media screen and (max-width: 425px) {
  .fun .preview-image {
    height: 31.75vh; /* Adjust image height */
  }

}

@media screen and (max-width: 375px) {
  .fun .preview-image {
    height: 28vh; /* Adjust image height */
  }

}
