.about {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    overflow: clip;
    
}

.about .main {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
  padding: 2.5rem 6rem 1.5rem 6rem;
}


.about .main h1 {
    font-family: "punch-holes";
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: 0.05cap;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    padding: 0;
    color: #2b2b2b;
}

.about .main p {
  font-family: "forma-djr-text", sans-serif;
  width: 55vw;
  font-size: 1.1rem;
  font-weight: 425;
  text-align: left;
  margin-top: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  color: #2b2b2b;

}

.about .main a {
  text-decoration: none;
}

.about .main a:hover, .about .main a:active {
  text-decoration: underline;
}


.image-row {
  display: flex;
  width: 100vw;
  margin-top: 4.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.image-row img {
  width: 12vw; /* 100 / 8 = 12.5 */
  height: auto;
  object-fit: cover;
}

  /*------------------------ Media Queries --------------------------*/

/* Media Query for screens 1024px or smaller */
@media screen and (max-width: 1024px) {

  .about .main p {
    width: 70vw;
    font-size: 1.1rem; 
  }
}

@media screen and (max-width: 768px) {

  .about .main {
  }

  .about .main p {
    font-size: 1rem; 
  }
}

/* Media Query for screens 600px or smaller */
@media screen and (max-width: 672px) {
  .about-me {
    flex-direction: column;
}

.about .main {
  width: 95vw;
  margin-top: 2rem;
}

.about .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .main h1 {
  font-size: 2.25rem;
}
.about .main p {
  font-size: 0.7rem;
  text-align: center; 
}

.about .photo img {
  width: 25vw;
}

.about .calendar-container {
  margin-top: 2.3rem;
  margin-bottom: 4.6rem;
}

}


@media screen and (max-width: 400px) {
  .about .main {
    margin-top: 4rem;
  }

  .about .photo img {
    width: 30vw;
  }
}

@media screen and (max-width: 370px) {
  .about .calendar-container {
    margin-top: 3.3rem;
    margin-bottom: 6.6rem;
  }
}

@media screen and (max-width: 330px) {
  .about .main {
    margin-top: 7.5rem;
  }

  .about .photo img {
    width: 35vw;
  }

  .about .calendar-container {
    margin-top: 7.3rem;
    margin-bottom: 7.6rem;
  }
}