.about {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    overflow: clip;
    
}

.about .main {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  padding: 2.5rem auto 1.5rem auto;
}


.about .main h1 {
    font-family: "punch-holes";
    font-weight: 400;
    font-size: 3.75rem;
    letter-spacing: 0.05cap;
    margin-top: 0.9rem;
    margin-bottom: 1.4rem;
    padding: 0;
    color: #18181b;
}

.about .main p {
  font-family: "forma-djr-text", sans-serif;
  width: 55vw;
  font-size: 1.1rem;
  font-weight: 425;
  text-align: left;
  margin-top: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #4e4e54;

}

.about .main a {
  text-decoration: none;
}

.about .main a:hover, .about .main a:active {
  text-decoration: underline;
}


.image-row {
  display: flex;
  width: 100vw;
  margin-top: 3.25rem;
  margin-bottom: 1rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.image-row img {
  width: 12vw; /* 100 / 8 = 12.5 */
  height: auto;
  object-fit: cover;
}

  /*------------------------ Media Queries --------------------------*/


@media screen and (max-width: 768px) {

  .about .main h1 {
    font-size: 3.25rem;
  }

  .about .main p {
    font-size: 1rem; 
    width: 70vw;
  }

  .image-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .image-row img {
    width: 24.25vw;
  }
}

/* Media Query for screens 600px or smaller */
@media screen and (max-width: 672px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .main {
  width: 95vw;
}

.about .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .main h1 {
  font-size: 2.75rem;
}
.about .main p {
  font-size: 0.8rem;
  text-align: center; 
}


}

@media screen and (max-width: 426px) {

  .about .main {
    margin-top: 0rem;;
    padding-top: 0.25rem;
  }

  .about .main p {
 width: 75vw;
  }

  .image-row {
    margin-top: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-row img {
    width: 49.5vw;
  }
  

}

