@import url("https://use.typekit.net/ovs8xoo.css");


.case-study-hbo-max2 {
  position: relative;
  font-family: "forma-djr-text", sans-serif;
  color: rgba(43, 43, 43, 0.8);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.case-study-hbo-max2 .content {
  display: flex;
  flex-direction: row;
}

.case-study-hbo-max2 .side-nav {
  position: fixed;
  top: 15.5%;
  padding-left: 4.75%;
  padding-right: 4rem;
  font-size: 1.1rem;
  font-weight: 525;
  color: rgba(43, 43, 43, 0.75);;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.case-study-hbo-max2 .side-nav p:hover {
  text-decoration: underline;
}

.case-study-hbo-max2 .side-nav img {
  width: 7px;
  height: auto;
  opacity: 55%;
  margin: 0 1px -0.5px 0;
}

.case-study-hbo-max2 .side-nav img:hover {
  text-decoration: underline;
}


.case-study-hbo-max2 .study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 18.5%;
}

.case-study-hbo-max2 .main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center grid items horizontally */
  align-items: left;
  margin-top: 4rem; 
  padding: 0.5rem 5.25rem; 
  width: min-content;
}


.case-study-hbo-max2 h1 {
  font-family: "adobe-text-pro", serif;
  font-weight: normal;
  font-size: 4rem;
  text-align: left;
  margin-top: 2.7rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.case-study-hbo-max2 h2 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 1.5rem 2.7rem 1rem 0rem;
  letter-spacing: 1.1px;
  text-align: left;
}


.case-study-hbo-max2 ul,
.case-study-hbo-max2 li {
  padding-left: 1.25rem;
  margin: 0rem 0 0.5rem 0;
}

.takeaways ul, .pain-points ul {
  list-style-type: decimal;
}

.takeaways li::marker, .pain-points li::marker {
  font-weight: 600;
  font-size: 1.1rem;
}

.takeaways .sub-section {
  padding-left: 3.6rem;
}

.takeaways .sub-section ul {
  list-style-type: decimal;
}

.takeaways {
  margin-bottom: 0.9rem;
}

.sub-section li::marker {
  font-size: 1.1rem;
  font-weight: 425;
}

.overview-info {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.case-study-hbo-max2 h4 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 2.75rem;
  margin: 1rem 0 0 0;
  letter-spacing: 1.1px;
  text-align: left;
  color: #2b2b2b;
  
}

.case-study-hbo-max2 .overview-info h3 {
  font-family: "forma-djr-text", sans-serif;
  color: rgba(43, 43, 43, 0.75);
  font-size: 1.15rem;
  font-weight: 625;
  margin: 0;
  text-align: center;
}

.case-study-hbo-max2 .overview-info p {
  font-size: 1.1rem;
  font-weight: 425;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.case-study-hbo-max2 .all-skills {
  width: 15vw;
  justify-content: center; /* center the grid as a whole */
  margin: 0rem;
}


.overview,
.pain-points,
.takeaways {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: left;
}

.case-study-hbo-max2
.overview p,
.case-study-hbo-max2
.pain-points p,
.case-study-hbo-max2
.takeaways p {
  width: 65vw;
  font-size: 1.1rem;
  font-weight: 425;
  text-align: left;
  margin-top: 1.35rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.overview img,
.pain-points img,
.takeaways img {
  margin: 1.8rem 0;
}

.case-study-hbo-max2 .img-container img {
  width: 52.5vw;
  margin: 1.5rem 0;
}

.video-container,  .figma-embed {
  position: relative;
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
  width: 70%;
  overflow: hidden;       
}

.figma-embed {
  margin-top: 1.5rem;
}

.video-container video {
  position: relative;                  
  width: 105%;       /* make the video a bit wider so it fills height */
  height: auto;      /* keep the existing height */               
  margin-bottom: 1.8rem;
  object-fit: cover;            
  object-position: left center; 
}



.figma-embed iframe {
  width: 100%;
  height: 56.25vw; /* 16:9 ratio (800x450 -> 16:9). Or use a fixed px height */
  max-height: 450px;
  border-radius: 4px;
  display: block;
  margin-bottom: 1.8rem;
}

.bold {
  font-weight: 625;
}

.italic {
  font-style: italic;
}

.vert-bar {
  font-weight: 625;
}

.arrow {
  font-weight: 800;
  font-size: 1.4rem;
  color: rgba(43, 43, 43, 0.8);
}

.case-study-hbo-max2 .app-link {
  font-size: 1.1rem;
  color: #de7e5d;
  font-weight: 550;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.team a {
  text-decoration: none;

}

.case-study-hbo-max2 .app-link:hover {
  font-size: 1.1rem;
  font-weight: 625;
  text-decoration: underline;
}

.seperator {
  height: 1.35rem;
}

.overview a,
.pain-points a,
.takeaways a {
  padding: 0;
  text-decoration: none;
  font-size: 1.1rem;
}

.description-section {
  display: flex;
  width: 65vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
}



.description-section .show-image {
  width: 27rem;
  margin-bottom: 1rem;
}


.column h4 {
  font-weight: 700;
  color: #9fafbe;
  letter-spacing: 1px;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.case-study-hbo-max2 .pain-points .description-section  p {
  color: rgba(43, 43, 43, 0.6);
  width: 28rem;
  
}

.case-study-hbo-max2 .pain-points .segment p {
  color: rgba(43, 43, 43, 0.6);
  width: 30rem;
}

.segment {
  margin-bottom: 1.5rem;
}

.segment h5 {
  color: #9fafbe;
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-left: 0;
}


.results-table {
  width: 65vw;
  border-collapse: collapse;
  margin: 2rem 0 1.5rem 0;
}


.results-table th {
  text-align: center;
  font-weight: 700;
  color: #9fafbe;
  letter-spacing: 0.5px;
  border-bottom: 2px solid rgba(43, 43, 43, 0.1);
  border-right: 2px solid rgba(43, 43, 43, 0.1);
  padding: 0.75rem 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.results-table td {
  text-align: left;
  color: rgba(43, 43, 43, 0.6);
  vertical-align: top;
  padding: 0.75rem 1rem;
  line-height: 1.5rem;
  border-bottom: 1px solid rgba(43, 43, 43, 0.1);
  border-right: 1px solid rgba(43, 43, 43, 0.1);
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.results-table th:last-child {
  border-right: none;
}


.results-table td:last-child {
  border-right: none;
}

.results-table tbody tr:last-child td {
  border-bottom: none;
}

.results-table tbody tr:last-child td {
  border-bottom: none;
} 

/* Style merged watch history cell */
.results-table td[rowspan] {
  font-weight: 600;
  color: rgba(43, 43, 43, 0.8);
  width: 15rem;
  border-bottom: none;
}


.findings-table {
  width: 65vw;
  border-collapse: collapse;
  margin: 2rem 0 0.5rem 0;
}


.findings-table th {
  text-align: center;
  font-weight: 700;
  color: #9fafbe;
  letter-spacing: 0.5px;
  border: none;
  padding: 0.75rem 0rem 1rem 0rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}


.findings-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* aligns icon+text to the left inside the cell */
  gap: 0.5rem;
  width: 16vw; /* shrink-wrap around content */
  margin: 0 auto;
}


.findings-table th img {
  height: 36px;
  width: auto;
  margin: 0;
  vertical-align: middle;
}

.findings-table td {
  text-align: center;
  color: rgba(43, 43, 43, 0.6);
  vertical-align: top;
  padding: 0.75rem 1rem;
  line-height: 1.5rem;
  border: none;
  letter-spacing: 1px;
  line-height: 1.6rem;
}





/*------------------------ Media Queries --------------------------*/


@media screen and (max-width: 768px) {

  .case-study-hbo-max2 .main {
    margin: 3.5rem 0 2rem 0;
    padding: 0.5rem 0 0.5rem 5.5rem;
  }

  .case-study-hbo-max2 .study {
    padding-left: 15%;
  }

  .img-caption h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 1rem 0rem 0 1rem;
    letter-spacing: 1.0px;
    width: 16vw;
  }

  .case-study-hbo-max2 .video-container, .case-study-hbo-max2 .figma-embed {
    width: 85%
  }

  .case-study-hbo-max2 .overview img,
  .case-study-hbo-max2 .pain-points img,
  .case-study-hbo-max2 .takeaways img {
  width: 85%;
}

.case-study-hbo-max2 .overview-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.case-study-hbo-max2 .all-skills {
  width: auto;
}

.case-study-hbo-max2  h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.case-study-hbo-max2  h2 {
  font-size: 2.75rem;
}

.case-study-hbo-max2  h4 {
  font-size: 2.5rem;
}

.case-study-hbo-max2 .overview-info h3 {
  font-size: 1rem;
}

.case-study-hbo-max2 .overview p,
.case-study-hbo-max2 .pain-points p,
.case-study-hbo-max2 .takeaways p, 
.case-study-hbo-max2 .app-link  {
  font-size: 1rem;
}

.case-study-hbo-max2 .overview-info p, .overview-info .app-link {
  font-size: 0.9rem;
}

.results-table th, .findings-table th {
  font-size: 1rem;
}

.results-table td, .findings-table td {
  font-size: 0.9rem;
  line-height: 1.5rem;
}


}




@media screen and (max-width: 600px) {

  .case-study-hbo-max2 {
    width: 100vw;
    align-items: center;
  }

  .case-study-hbo-max2 .side-nav {
    display: none;
  }


  .case-study-hbo-max2 .study {
    padding-left: 0%;
    align-items: center;
}

  .case-study-hbo-max2 .main {
    margin: 3.5rem 0 0rem 0;
    padding: 0.5rem 0;
  }

  .case-study-hbo-max2 .video-container, .case-study-hbo-max2 .figma-embed {
    width: 95%;
}

.img-caption {
  flex-direction: column;
  align-items: start;
}


  .case-study-hbo-max2 h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .overview .img-caption img, .pain-points .img-caption img, .takeaways .img-caption img {
    width: 85vw;
  }

  .img-caption h5 {
    width: 85vw;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  
  .case-study-hbo-max2 .overview-info {
    width: 100%;
    margin-bottom: 0;
}

.case-study-hbo-max2 .overview p, .case-study-hbo-max2 .pain-points p, .case-study-hbo-max2 .takeaways p, .case-study-hbo-max2 .app-link {
  width: 100%;
}
}


@media screen and (max-width: 426px) {

  .case-study-hbo-max2 .overview-info {
    gap: 0 0.5rem;
}

  .overview-info h3 {
    line-height: 1.15rem;
  }

  .case-study-hbo-max2 .main {
    padding: 0 1rem;
  }
  .case-study-hbo-max2 .all-skills {
    display: flex;
    flex-direction: column;
  }
  .overview img,
  .pain-points img,
  .takeaways img {
    width: 70vw;
  }

  video {
    width: 70vw;
  }
}

