.case-study-1 {
    position: relative;
    font-family: "GeneralSans-Variable";
    color: #393939;;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

.case-study-1 .study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-study-1 .main {
    display: flex;
    flex-direction: column;
    border-radius: 45px; 
    justify-content: center; /* Center grid items horizontally */
    align-items: center;
    background-color: rgba(179, 193, 255, 0.7);
    margin-top: 7.2rem; 
    padding: 0 5.25rem; 
    width: min-content;
}


.case-study-1 .water-full {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -1rem;
    width: 100%;
    height: 102%;
    background-image:
    url('/fun/water-full-light3.png');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
    z-index: -1000;
}


.case-study-1 .water-full-mask { 
  position: absolute;
  margin-top: -0.75rem;
  width: 100%;
  height: 100%;
  background-image:
    url('/fun/water-full-light3.png');
  background-size: cover;
  background-position: center top;
  background-repeat: repeat-y;
  filter: url("#turbulence");
  z-index: -1; /* Ensure it stays behind other content */ 
}

.case-study-1 h1 {
    font-family: "Plein-Variable";
    font-weight: 525;
    font-size: 3.06rem; 
    text-align: center;
    margin: 2.7rem; 
    margin-bottom: 0rem;
    padding-left: 2.25rem; 
}

.case-study-1 h2 {
    font-family: "Plein-Variable";
    font-weight: 525;
    font-size: 2.25rem; 
    margin: 0.9rem 2.7rem 0.45rem 2.7rem; 
    text-align: center;
}

.case-study-1 ul, .case-study-1 li {
    margin-top: 0;
}

.takeaways ul {
    list-style-type: decimal;
    font-size: 1.17rem; 
}

.takeaways li::marker {
    font-weight: 600;
}

.takeaways .sub-section {
    padding-left: 3.6rem; 
}

.takeaways .sub-section ul {
    list-style-type: disc;
}

.takeaways {
    margin-bottom: 0.9rem; 
}

.sub-section li::marker {
    font-size: 0.99rem; 
    font-weight: 400;
}

.case-study-1 .overview-info {
    display: flex;
    justify-content: space-between;
    width: 69vw; 
    margin-top: 1.35rem; 
    margin-left: 2.7rem; 
}

.overview-info h3 {
    font-size: 1.17rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.overview-info p {
    font-size: 1.17rem; 
    font-weight: 400;
    text-align: left;
}

.case-study-1 .all-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.585rem; 
    margin: 0.9rem 0;
}

.case-study-1 .team p {
    margin-left: 1.75rem;
}

.skill {
    background-color: rgba(248, 214, 216, 0.9);
}

.skill p {
    margin: 0.225rem 0.675rem; 
    font-size: 1.08rem; 
}

.case-study-1 .role p {
    text-align: center;
}

.team {
    width: 20vw; 
}

.overview, .pain-points, .takeaways {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.overview p, .pain-points p, .takeaways p {
    width: 70vw;
    font-size: 1.17rem; 
    font-weight: 400;
    text-align: left;
    margin-top: 1.35rem; 
}

.overview img, .pain-points img, .takeaways img {
    margin: 1.8rem 0; 
    width: 40vw; 
    border-radius: 4.5px; 
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 55vw; 
    margin-bottom: 1.8rem; 
    border-radius: 4.5px; 
}

.bold {
    font-weight: 600;
}

.vert-bar {
    font-weight: 550;
}

.app-link {
    font-size: 1.215rem; 
    color: #7c16ab;
    font-weight: 550;
    text-decoration: underline;
}

.app-link:hover {
    font-size: 1.215rem; 
    font-weight: 600;
    text-decoration: underline;
}

.seperator {
    height: 1.35rem;
}

.overview a, .pain-points a, .takeaways a {
    padding: 0;
    text-decoration: none;
}


svg {
    position: absolute;
    width: 0;
    height: 0;
  }