@import url("https://use.typekit.net/ovs8xoo.css");


.case-study-hbo-max1 {
  position: relative;
  font-family: "forma-djr-text", sans-serif;
  color: #4e4e54;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.case-study-hbo-max1 .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.case-study-hbo-max1 .side-nav {
  position: fixed;
  top: 15.5%;
  left: 2.5%;
  padding-left: 4.75%;
  padding-right: 4rem;
}

.case-study-hbo-max1 .side-nav p {
  transition: all 0.2s;
  font-size: 1.1rem;
  font-weight: 525;
  color: #f43f5e;
  letter-spacing: 1px;
  line-height: 1.6rem;
  text-decoration: underline;
  text-decoration-color: #fda4af;
}

.case-study-hbo-max1 .side-nav p:hover {
  color: #e11d48;
  text-decoration: underline;
  text-decoration-color: #f43f5e;
}

.case-study-hbo-max1 .study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 18.5%;
  width: 100%;
}

.case-study-hbo-max1 .main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center grid items horizontally */
  align-items: left;
  margin-top: 4rem; 
  padding: 0.5rem 5.25rem; 
  width: min-content;
}


.case-study-hbo-max1 h1 {
  font-family: "adobe-text-pro", serif;
  font-weight: normal;
  font-size: 4rem;
  text-align: left;
  margin-top: 2.7rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.case-study-hbo-max1 h2 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 2rem 2.7rem 1rem 0rem;
  letter-spacing: 1.1px;
  text-align: left;
  color: #18181b;
}

.case-study-hbo-max1 h4 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 2.75rem;
  margin: 1rem 0 0 0;
  letter-spacing: 1.1px;
  text-align: left;
  color: #18181b;
  
}


.case-study-hbo-max1 ul,
.case-study-hbo-max1 li {
  padding-left: 1.25rem;
  margin: 0rem 0 0.5rem 0;
}

.takeaways ul, .pain-points ul {
  list-style-type: decimal;
}

.takeaways li::marker, .pain-points li::marker {
  font-weight: 600;
  font-size: 1.1rem;
}

.takeaways .sub-section {
  padding-left: 3.6rem;
}

.takeaways .sub-section ul {
  list-style-type: decimal;
}

.takeaways {
  margin-bottom: 0.9rem;
}

.sub-section li::marker {
  font-size: 1.1rem;
  font-weight: 425;
}

.overview-info {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.case-study-hbo-max1 .overview-info h3 {
  font-family: "forma-djr-text", sans-serif;
  font-size: 1.15rem;
  font-weight: 625;
  margin: 0;
  text-align: center;
}

.case-study-hbo-max1 .overview-info p {
  font-size: 1.1rem;
  font-weight: 425;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.case-study-hbo-max1 .all-skills {
  width: 15vw;
  justify-content: center; 
  align-items: center;
  margin: 0rem;
  margin-top: 1.1rem;
}

.case-study-hbo-max1 .skill {
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.25),   /* soft white glow */
    0 4px 6px rgba(0, 0, 0, 0.07);        /* normal depth shadow */
}

.overview,
.pain-points,
.takeaways {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: left;
}

.case-study-hbo-max1
.overview p,
.case-study-hbo-max1
.pain-points p,
.case-study-hbo-max1
.takeaways p {
  width: 65vw;
  font-size: 1.1rem;
  font-weight: 425;
  text-align: left;
  margin-top: 1.35rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.overview img,
.pain-points img,
.takeaways img {
  margin: 1.8rem 0;
  width: 45vw;
}


.video-container {
  position: relative;
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
  width: 70%;
  overflow: hidden;        
}

.video-container video {
  position: relative;                  
  width: 105%;       /* make the video a bit wider so it fills height */
  height: auto;      /* keep the existing height */               
  margin-bottom: 1.8rem;
  object-fit: cover;            
  object-position: left center; 
}

.img-caption {
  display: flex;
  align-items: end;
  margin-top: 0rem;
}

.img-caption h5 {
  font-family: "forma-djr-text", sans-serif;
  margin: 1rem 0rem 0 1.8rem;
  width: 18vw;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.bold {
  font-weight: 625;
}

.italic {
  font-style: italic;
}

.vert-bar {
  font-weight: 625;
}

.img-border {
  box-shadow: 0px 0px 3px #18181b;
  
}


.case-study-hbo-max1 .app-link {
  font-size: 1.1rem;
  color: #f43f5e;;
  font-weight: 550;
  text-decoration: underline;
  text-decoration-color: #fda4af;
  letter-spacing: 1px;
  line-height: 1.6rem;
  transition: all 0.2s;
}


.case-study-hbo-max1 .app-link:hover {
  font-size: 1.1rem;
  font-weight: 625;
  text-decoration: underline;
  text-decoration-color: #f43f5e;
  color: #e11d48;
}

.seperator {
  height: 1.35rem;
}

.overview a,
.pain-points a,
.takeaways a {
  padding: 0;
  text-decoration: none;
  font-size: 1.1rem;
}

svg {
  position: absolute;
  width: 0;
  height: 0;
}

/*------------------------ Media Queries --------------------------*/

@media screen and (max-width: 768px) {

  .case-study-hbo-max1 .main {
    margin: 3.5rem 0 2rem 0;
    padding: 0.5rem 0 0.5rem 5.5rem;
  }

  .case-study-hbo-max1 .study {
    padding-left: 15%;
  }

  .img-caption h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 1rem 0rem 0 1rem;
    letter-spacing: 1.0px;
    width: 16vw;
  }

  .case-study-hbo-max1 .video-container, .case-study-hbo-max1 .figma-embed {
    width: 85%
  }

  .overview .img-caption img,
.pain-points .img-caption img,
.takeaways .img-caption img {
  width: 47.5vw;
}

.case-study-hbo-max1 .overview-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.case-study-hbo-max1 .all-skills {
  width: auto;
}

.case-study-hbo-max1  h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.case-study-hbo-max1  h2 {
  font-size: 2.75rem;
  line-height: 3.1rem;
}

.case-study-hbo-max1  h4 {
  font-size: 2.5rem;
}

.case-study-hbo-max1 .overview-info h3 {
  font-size: 1rem;
}

.case-study-hbo-max1
.overview p,
.case-study-hbo-max1
.pain-points p,
.case-study-hbo-max1
.takeaways p, 
.case-study-hbo-max1 .app-link  {
  font-size: 1rem;
}

.case-study-hbo-max1 .overview-info p, .case-study-hbo-max1 .overview-info .app-link {
  font-size: 0.9rem;
}


}



@media screen and (max-width: 600px) {

  .case-study-hbo-max1 {
    width: 100vw;
    align-items: center;
  }

  .case-study-hbo-max1 .side-nav {
    display: none;
  }


  .case-study-hbo-max1 .study {
    padding-left: 0%;
    align-items: center;
}

  .case-study-hbo-max1 .main {
    margin: 3.5rem 0 0rem 0;
    padding: 0.5rem 0;
  }

  .case-study-hbo-max1 .video-container, .case-study-hbo-max1 .figma-embed {
    width: 95%;
}

.img-caption {
  flex-direction: column;
  align-items: start;
}


  .case-study-hbo-max1 h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .overview .img-caption img, .pain-points .img-caption img, .takeaways .img-caption img {
    width: 85vw;
  }

  .img-caption h5 {
    width: 85vw;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  
  .case-study-hbo-max1 .overview-info {
    width: 100%;
    margin-bottom: 0;
}

.case-study-hbo-max1 .overview p, .case-study-hbo-max1 .pain-points p, .case-study-hbo-max1 .takeaways p, .case-study-hbo-max1 .app-link {
  width: 100%;
}
}


@media screen and (max-width: 426px) {

  .case-study-hbo-max1 .overview-info {
    gap: 0 0.5rem;
}

  .overview-info h3 {
    line-height: 1.15rem;
  }

  .case-study-hbo-max1 .main {
    padding: 0 1rem;
  }
  .case-study-hbo-max1 .all-skills {
    display: flex;
    flex-direction: column;
  }
  .overview img,
  .pain-points img,
  .takeaways img {
    width: 70vw;
  }

  video {
    width: 70vw;
  }
}

