@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://use.typekit.net/ovs8xoo.css");
@import url("https://use.typekit.net/ovs8xoo.css");


.home {
  display: block;
  flex-direction: column;
  column-count: 2;
  column-gap: 4rem;
  flex-wrap: wrap;
  overflow-x: clip;
  padding: 2.5rem 6rem;
}


.home .landing-page {
  position: relative;

}


.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 0.25rem;
}

.name-image {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.name-image img {
  height: 6.1rem;
  margin: -0.5rem 0.25rem 0.5rem 0rem;
}

.name-image .profile {
  height: 8.5rem;
  width: auto;
  border-radius: 50%;        /* makes it circular */
}

h1 {
  font-family: "punch-holes";
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.05cap;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  padding: 0;
  color: #2b2b2b;
}

.cutout-text .word {
  display: inline-block;  /* shrink-wrap the word */
  white-space: nowrap;    /* prevent breaks inside the word */
  margin-right: 0.25rem;  /* optional spacing between words */
}

.cutout-text span {
  display: inline-block;
  transform: rotate(calc(-3deg + 6deg * var(--r))) translateY(calc(-3px + 7px * var(--y)));
}

/* Create slight variations for each letter */
.cutout-text span:nth-child(odd) { --r: -0.5; --y: 0.4; }
.cutout-text span:nth-child(even) { --r: 0.5; --y: -0.2; }
.cutout-text span:nth-child(3n) { --r: 0.8; --y: 0.3; }

h2 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.05rem;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
  text-align: left;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
  z-index: 2;
}

h3 {
  color: #de7e5d;
}

.home h2 a {
  display: inline-flex;
  color: #de7e5d;
  font-weight: 625;
  text-decoration: none;
}

.home h2 a:hover,
.home h2 a:active {
  text-decoration: underline;
  font-weight: 700;
}

.home h2 a img {
  width: 0.9rem;
  padding-left: 1.8px;
}

.contact {
  display: block;
  margin-top: 1.125rem;
  z-index: 1;
}

.title .contact a:first-child {
  padding-left: 0;
}

.contact img {
  width: 1.89rem;
}

.contact a {
  padding: 0 0.9rem;
}

svg {
  position: absolute;
  width: 0;
  height: 0;
}

/*------------------------ Media Queries --------------------------*/


@media screen and (max-width: 1440px) {
  h1 {
    font-size: 3.25rem;
  }

}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1rem;
    width: 89%;
  }

  .contact img {
    width: 1.75rem;
}
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 444px) {
    .contact img {
        width: 1.6rem;
    }

    .contact a {
        padding: 0 0.5rem;
    }
  }
