.dark-mode-form {
    background-color: black;
    color: #f8dcff;
    border-color: #f8dcff;

    font-family: "GeneralSans-Variable";
    font-size: 1rem;
    font-weight: 600;
  }
  
  .dark-mode-form .form-control {
    background-color: #575757;
    color: #f8dcff;
    border-color: #f8dcff;
  }
  
  .dark-mode-form .form-control::placeholder {
    color: #f8dcff;

    font-family: "GeneralSans-Variable";
    font-size: 1rem;
    font-weight: 400;
  }
  
  .dark-mode-form .submit-button {
    background-color: #575757;
    border-color: #f8dcff;
    color: #f8dcff;

    font-family: "GeneralSans-Variable";
    font-size: 1rem;
    font-weight: 400;
  }
  
  .response-message {
    color: #f8dcff;

    font-family: "GeneralSans-Variable";
    font-size: 1rem;
    font-weight: 600;
  }
  
  .custom-dropdown select {
    background-color:#575757;
    color: #f8dcff;
    border-color: var(--cal-border);

    font-family: "GeneralSans-Variable";
    font-size: 1rem;
    font-weight: 400;
  }
  
  .custom-dropdown .arrow {
    border-top-color: #f8dcff;
  }

  .extra-feild {
    display:none !important
  }