@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.project-cards {
  position: relative;
  margin-top: 1.8rem;
  padding: 0;
  z-index: 1;
  color: rgba(43, 43, 43, 0.8);
}

.project-cards {
  border-radius: 0rem;
  padding: 1.25rem;
  justify-content: center;
}

.project-cards a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.card-content {
  position: relative; /* overlay only on this area */
}

.card {
  position: relative;
  border: none;
  overflow: hidden;
  border-radius: 0rem;
  width: 40vw;
  background-color: white;
  box-sizing: border-box;
}


.preview-image {
  position: relative; 
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 0;
  overflow: clip;
  height: fit-content;
}

/* overlay only on the image */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 2;
  pointer-events: none;
}

/* activate overlay when the entire card is hovered */
.card:hover::before,
.card:focus::before {
  opacity: 0.4; 
}


.preview-image video {
  width: 105%;
  margin-bottom: 0;
  border-radius: 0rem;
}

.project-cards .info {
  background-color: #fef8f5;
  padding: 0.45rem 0;
  color: rgba(43, 43, 43, 0.8);
}

.all-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-left: 1.5rem;
}

.info .all-skills {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.skill {
  border-radius: 0.54rem;
  border: 1px solid rgba(43, 43, 43, 0.8);;
  margin-right: 0.54rem;
  color: rgba(43, 43, 43, 0.8);
}

.card h3 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0.1rem 1rem 0.1rem 0rem;
  padding-bottom: 0;
  padding-left: 1rem;
  letter-spacing: 1.1px;
  text-align: left;
  color: #2b2b2b;
}

h4 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.05rem;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
  margin: 0rem 1.05rem;
  margin-bottom: 0.63rem;
}

h5 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.05rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  margin: 0.225rem 0.54rem;
}

/*------------------------ Media Queries --------------------------*/

/* Media Query for screens 1024px or smaller */
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 2.05rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .preview-image {
    height: 15.5rem;
  }

  .preview-image img {
    width: 25rem;
  }
}

/* Media Query for screens 768px or smaller */
@media screen and (max-width: 768px) {
  .project-cards {
    gap: 1.25rem;
  }

  .card {
    width: 45vw;
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .preview-image {
    height: 13.5rem;
  }

  .preview-image img {
    width: 22rem;
  }

  h3 {
    font-size: 2rem; /* Reduce font size for smaller screens */
    margin: 0rem 1rem; /* Adjust margins */
    line-height: 2.3rem;
  }

  h4 {
    font-size: 1.1rem; /* Reduce font size */
    margin: 0.5rem 1rem; /* Adjust margins */
  }

  h5 {
    font-size: 0.9rem; /* Reduce font size */
  }

  .info .all-skills {
    margin-left: 1rem; /* Remove left margin */
  }

  .skill {
    width: 100%; /* Make skills take up full width */
    text-align: center; /* Center the text */
  }
}

/* Media Query for screens 600px or smaller */
@media screen and (max-width: 600px) {
  .project-cards {
    grid-template-columns: 1fr;
  }

  .project-cards {
    margin-top: 1rem; /* Reduce top margin */
  }

  .card {
    width: 80vw; /* Adjust card width */
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .preview-image {
    height: 12.5rem;
  }

  .preview-image img {
    width: 20rem;
  }

  .all-skills {
    row-gap: 0.5rem; /* Add space between skills */
  }

  .info .all-skills {
    margin-left: 0.9rem;
    margin-bottom: 0.4rem;
  }

  h3 {
    font-size: 1.8rem; /* Further reduce font size */
    margin: 0 0.75rem; /* Adjust margins */
  }

  h4 {
    font-size: 0.9rem; /* Further reduce font size */
    margin: 0.2rem 0.75rem; /* Adjust margins */
    margin-bottom: 0.35rem;
  }

  h5 {
    font-size: 0.9rem; /* Further reduce font size */
    margin: 0.3rem 0.4rem; /* Adjust margins */
  }

  .skill {
    width: 100%; /* Make skills take up full width */
    text-align: center; /* Center the text */
  }
}

@media screen and (max-width: 425px) {
  .preview-image {
    height: 12rem;
  }
  .preview-image img {
    width: 18rem;
  }
}

@media screen and (max-width: 375px) {
  .preview-image {
    height: 10rem;
  }

  .preview-image img {
    width: 16rem;
  }
}
