.projects {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-cards a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card {
    width: 35rem;
    border-radius: 2rem;
    box-shadow: 8px 8px 8px rgb(0 0 0 / 10%);
    overflow: hidden;
}

.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.preview-image img {
    width: 25rem;
}

.info {
    background-color: white;
    padding: 2rem 0 1rem 0;
}

.all-skills {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.info .all-skills {
    margin-left: 2rem;
}

.skill {
    border-radius: 0.6rem;
    border: 1px solid #C5C5C5;
    margin-right: 0.6rem;
}

h3 {
    font-family: "GeneralSans-Variable";
    font-weight: 500;
    font-size: 2.25rem;
    margin: 1.5rem 1.25rem 0 1.9rem;
}

h4 {
    font-family: "GeneralSans-Variable";
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.7rem 2rem;
}

h5 {
    font-family: "GeneralSans-Variable";
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.25rem 0.6rem;
}