@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.project-cards {
  position: relative;
  margin-top: 1.8rem;
  padding: 0;
  z-index: 1;
  color: #4e4e54; 
}

.project-cards {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  display: inline-block;
  width: 100%;
}

.fun .project-cards {
  margin-top: 0rem;
  margin-bottom: 1.8rem;
}

.project-cards {
  border-radius: 0rem;
  padding: 1.25rem;
  justify-content: center;
}

.project-cards a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.card-content {
  position: relative; /* overlay only on this area */
}

.card {
  position: relative;
  border: none;
  overflow: hidden;
  border-radius: 0rem;
  width: 40vw;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;
}

.card:hover, .card:active {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.card:hover h3, .card:active h3 {
  color: #e11d48;
}


.preview-video {
  position: relative; 
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 0;
  overflow: clip;
  height: fit-content;
}

.preview-image {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: clip;
  height: fit-content;
}

/* overlay only on the image */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 2;
  pointer-events: none;

}

/* activate overlay when the entire card is hovered */
.card:hover::before,
.card:focus::before {
  opacity: 0.2; 
}


.preview-video video {
  width: 105%;
  margin-bottom: 0;
  border-radius: 0rem;
}

.preview-image img {
  width: 105%;
  margin-bottom: 0;
  border-radius: 0rem;
}

.project-cards .info {
  background-color: #fef5f1;
  padding: 0.3rem 0.25rem;
  color: #4e4e54;
}

.all-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin: 0.9rem 0;
  margin-left: 1.5rem;
}

.info .all-skills {
  margin-left: 1.15rem;
  margin-bottom: 0.2rem;
}

.skill {
  border-radius: 9999px;
  border: 1px solid #fecdd3;
  margin-right: 0.54rem;
  color: #be123c;
  background: #ffe4e6;
  font-weight: 500;
  text-align: center;
}

.skill h5 {
  font-size: 0.95rem;
}

.card h3 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 2.95rem;
  margin: 0.25rem 1rem 0.2rem 0rem;
  padding-bottom: 0;
  padding-left: 1rem;
  letter-spacing: 1.1px;
  text-align: left;
  color: #18181b;
  transition: color 0.3s;
}

.info h4 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.05rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  margin: 0.1rem 1.05rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-family: "forma-djr-text", sans-serif;
  font-weight: 425;
  font-size: 1.05rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  margin: 0.225rem 0.54rem;
}

/*------------------------ Media Queries --------------------------*/


/* Media Query for screens 768px or smaller */
@media screen and (max-width: 768px) {
  .project-cards {
    padding: 0;
  }

  .card {
    width: 42.5vw;
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .preview-image {
    height: 13.5rem;
  }

  .preview-image img {
    width: 22rem;
  }

  .card h3 {
    margin: 0.5rem 1rem 0.5rem 0rem;
    line-height: 3.25rem;
  }

  h4 {
    font-size: 1.1rem; /* Reduce font size */
    margin: 0.5rem 1rem; /* Adjust margins */
  }

  h5 {
    font-size: 0.9rem; /* Reduce font size */
  }

  .info .all-skills {
    margin-left: 1rem; 
  }

}

/* Media Query for screens 600px or smaller */
@media screen and (max-width: 600px) {
  .project-cards {
    grid-template-columns: 1fr;
  }

  .project-cards {
    width: fit-content;
    margin-top: 1.6rem; /* Reduce top margin */
  }

  .card {
    width: 80vw; /* Adjust card width */
    margin-bottom: 1rem; /* Add space between stacked cards */
  }

  .preview-image {
    height: 12.5rem;
  }

  .preview-image img {
    width: 20rem;
  }

  .all-skills {
    row-gap: 0.5rem; 
  }

  .info .all-skills {
    margin-left: 0.9rem;
    margin-bottom: 0.4rem;
  }

  h3 {
    font-size: 1.8rem; 
    margin: 0 0.75rem; 
  }

  h4 {
    font-size: 0.9rem; 
    margin: 0.2rem 0.75rem; 
    margin-bottom: 0.35rem;
  }

  h5 {
    font-size: 0.9rem;
    margin: 0.3rem 0.4rem; 
  }

  .skill {
    width: 100%; 
    text-align: center; 
  }
}

@media screen and (max-width: 426px) {

  .skill {
    width: fit-content
  }


  .card-content {
    width: fit-content;
  }

  .card{
    width: 85vw;
  }

  .preview-image {
    height: 12rem;
  }
  .preview-image img {
    width: 18rem;
  }
}

