@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.case-study-3 {
    position: relative;
    font-family: "Krub";
    color: #2b2b2b;;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

.case-study-3 .study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-study-3 .main {
    display: flex;
    flex-direction: column;
    border-radius: 45px; 
    justify-content: center; /* Center grid items horizontally */
    align-items: center;
    background-color: rgba(179, 193, 255, 0.7);
    margin-top: 7rem; 
    padding: 0.5rem 5.25rem; 
    width: min-content;
}


.case-study-3 .water-full {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -1rem;
    width: 100%;
    height: 102%;
    background-image:
    url('/fun/water-full-light3.png');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
    z-index: -1000;
}


.case-study-3 .water-full-mask { 
  position: absolute;
  margin-top: -0.75rem;
  width: 100%;
  height: 100%;
  background-image:
    url('/fun/water-full-light3.png');
  background-size: cover;
  background-position: center top;
  background-repeat: repeat-y;
  filter: url("#turbulence");
  z-index: -1; /* Ensure it stays behind other content */ 
}

.case-study-3 h1 {
    font-family: "Flotha-Variable";
    font-weight: 525;
    font-size: 3.06rem; 
    text-align: center;
    margin: 2.7rem; 
    margin-bottom: 0rem;
    padding-left: 2.25rem;
}

.case-study-3 h2 {
    font-family: "Krub";
    font-weight: 575;
    font-size: 2.25rem; 
    margin: 0.9rem 2.7rem 0.2rem 2.7rem; 
    text-align: center;
}

.case-study-3 ul, .case-study-3 li {
    margin-top: 0;
}

.takeaways ul {
    list-style-type: decimal;
    font-size: 1.1rem; 
}

.takeaways li::marker {
    font-weight: 625;
}

.takeaways .sub-section {
    padding-left: 3.6rem; 
}

.takeaways .sub-section ul {
    list-style-type: disc;
}

.takeaways {
    margin-bottom: 0.9rem; 
}

.sub-section li::marker {
    font-size: 1rem; 
    font-weight: 425;
}

.case-study-3 .overview-info {
    display: flex;
    justify-content: space-between;
    width: 60vw; 
}

.overview-info h3 {
    font-size: 1.2rem;
    font-weight: 625;
    margin: 0;
    text-align: center;
}

.overview-info p {
    font-size: 1.1rem; 
    font-weight: 425;
    text-align: left;
}

.case-study-3 .all-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.585rem; 
    margin: 0.9rem 0; 
}

.skill-row {
    display: flex;
    padding-left: 13.5px; 
}

.skill {
    background-color: rgba(255, 212, 198, 0.9);
    width: fit-content;
}

.skill p {
    margin: 0.225rem 0.675rem; 
    font-size: 1.1rem;
}

.case-study-3 .overview-info .team {
    width: 20.075vw; 
}

.overview, .pain-points, .takeaways {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

.overview p, .pain-points p, .takeaways p {
    width: 70vw; 
    font-size: 1.1rem; 
    font-weight: 425;
    text-align: left;
    margin-top: 1.35rem; 
}

.overview img, .pain-points img, .takeaways img {
    margin: 1.8rem 0; 
    width: 40vw; 
    border-radius: 4.5px; 
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 55vw; 
    margin-bottom: 1.8rem; 
    border-radius: 4.5px; 
}

.bold {
    font-weight: 625;
}

.vert-bar {
    font-weight: 625;
}

.app-link {
    font-size: 1.15rem; 
    color: #de7e5d;
    font-weight: 550;
}

.app-link:hover {
    font-size: 1.15rem; 
    font-weight: 600;
    text-decoration: underline;
}

.seperator {
    height: 1.35rem; 
}


.overview a, .pain-points a, .takeaways a {
    padding: 0;
    text-decoration: none;
}

svg {
    position: absolute;
    width: 0;
    height: 0;
  }

/*------------------------ Media Queries --------------------------*/

@media screen and (max-width: 1024px) {
    .case-study-3 .main {
      padding: 0 2rem;
    }
  
    .case-study-3 .overview-info {
      width: 69vw;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .case-study-3 h1 {
      font-size: 3.75rem;
    }
    .overview-info h3 {
      font-size: 1.15rem; /* Reduce font size for smaller screens */
      margin: 0rem 1rem; /* Adjust margins */
      line-height: 2rem;
    }
  
    .overview img,
    .pain-points img,
    .takeaways img {
      width: 60vw;
    }
  
    video {
      width: 75vw;
    }
  }
  
  @media screen and (max-width: 750px) {
  .case-study-3 .overview-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .case-study-3 .team {
      width: 35vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    .case-study-3 h1 {
      font-size: 3rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 550px) {
    .case-study-3 .main {
      padding: 0 1rem;
    }
    .case-study-3 .all-skills {
      display: flex;
      flex-direction: column;
    }

    .case-study-3 .skill-row {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .overview img,
    .pain-points img,
    .takeaways img {
      width: 70vw;
    }
  
    video {
      width: 70vw;
    }
  }
  
  @media screen and (max-width: 426px) {
    .case-study-3 h1 {
      padding-left: 1.25rem;
    }
  }
  
  @media screen and (max-width: 396px) {
    .case-study-3 .main {
      padding: 0 0.5rem;
    }
    .case-study-3 h1 {
      font-size: 2.25rem;
      padding-left: 1.25rem;
    }
    .case-study-3 .overview-info {
      width: 82vw;
    }
  }