@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://use.typekit.net/ovs8xoo.css");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff9f3;
  /* background-color: #fedfd1; */
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.header.hidden {
  visibility: hidden;
  transform: translateY(-100%);
}

.header.visible-transparent {
  top: 0;
  transform: translateY(0);
}

.header.visible-color {
  top: 0;
  transform: translateY(0);
  background-color: rgba(255, 254, 253, 0.8);
}

/* Dropdown menu styles*/

.header .menu-icon img {
  padding-top: 0.6rem;
  width: 2.5rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color:  rgba(248, 220, 255, 95%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1;
}

.header .dropdown-menu a {
  padding: 0.35rem 2.5rem;
  text-align: center;
  color: #5b137d !important;
  text-decoration: none;
  border: 1px solid rgba(91, 19, 125, 50%);
}

.dropdown-menu a:hover {
  background-color: rgba(241, 186, 255, 0.95);
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

/* Dark mode specific styles */
.header.dark-mode a {
  color: #f8dcff; /* Override with dark mode text color */
}

.dark-mode.visible-color {
  background-color: rgba(
    47,
    32,
    91,
    90%
  ); /* Adjust to solid color for dark mode */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  padding: 0 0 0 1.5rem;
  width: inherit;
}

.footer.dark-mode {
  color: #f8dcff;
}

.header img {
  width: 4rem;
  margin: 0;
  padding: 0 1.2rem;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Krub";
  font-weight: 425;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.9px;
  margin: 1.125rem 1.26rem;
}

.right {
  display: flex;
  align-items: center;
  margin: 2.52rem 2.7rem 1.8rem 0rem;
}

.footer .left {
  margin-top: 1.8rem;
  margin-bottom: 0.45rem;
}

.footer .right {
  margin-right: 2.24rem;
  margin-bottom: 1.35rem;
}

a {
  transition: 0.5s;
}

.header a {
  padding: 0 1.35rem;
  font-family:  "forma-djr-text", sans-serif;
  font-weight: 625;
  font-size: 1.2rem;
  letter-spacing: 1.05px;
  line-height: 1.6rem;
  color: rgba(43, 43, 43, 0.85);;
  text-decoration: none;
}

.header a:hover,
.header a:active {
  text-decoration: underline;
}

/*------------------------ Media Queries --------------------------*/

@media screen and (max-width: 1000px) {
  .right {
    margin: 2.52rem 1rem 1.8rem 1.98rem;
  }
}

@media screen and (max-width: 768px) {
  .left {
    margin: 1.125rem 0.75rem;
  }

  .header .left a {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 666px) {
  .footer .right {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header .right {
    display: none; /* Hide by default on small screens */
  }

  .left {
    margin: 1.125rem 0rem;
    width: 50vw;
  }
}

@media screen and (max-width: 426px) {
  .footer .right {
    margin-right: 1.1rem;
  }

  .left {
    width: 45vw;
    font-size: 0.75rem;
  }
}


/*------------------------ Master Fonts --------------------------*/

@font-face {
  font-family: "Flotha-Variable";
  src: url("/fonts/flotha/Flotha-Display-0ea8.woff2") format("woff2"),
    url("/fonts/flotha/FlothaDisplayBold-aYOr5.ttf") format("ttf");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family:"punch-holes";
  src: url("/fonts/punch-holes/PunchHoles-Regular (4).otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

