@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.75rem;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.header.hidden {
    visibility: hidden;
    transform: translateY(-100%);
}

.header.visible {
    top: 0;
    transform: translateY(0);
    position: sticky;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin: 5rem 1.75rem 0 1.75rem;
    width: 96vw;
}

.header img {
    width: 7rem;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.right {
    display: flex;
    align-items: center;
    margin: 4rem 4rem 2rem 4rem;
}

a {
    padding: 0 1rem; /* Adjust the padding as needed */
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    text-decoration: underline;
  }


  
