@import url("https://use.typekit.net/ovs8xoo.css");


.case-study-dreamer {
  position: relative;
  font-family: "forma-djr-text", sans-serif;
  color: rgba(43, 43, 43, 0.8);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.case-study-dreamer .content {
  display: flex;
  flex-direction: row;
}

.case-study-dreamer .side-nav {
  position: fixed;
  top: 15.5%;
  padding-left: 4.75%;
  padding-right: 4rem;
  font-size: 1.1rem;
  font-weight: 525;
  color: rgba(43, 43, 43, 0.75);;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.case-study-dreamer .side-nav p:hover {
  text-decoration: underline;
}

.case-study-dreamer .side-nav img {
  width: 7px;
  height: auto;
  opacity: 55%;
  margin: 0 1px -0.5px 0;
}

.case-study-dreamer .side-nav img:hover {
  text-decoration: underline;
}


.case-study-dreamer .study {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 18.5%;
}

.case-study-dreamer .main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center grid items horizontally */
  align-items: left;
  margin-top: 4rem; 
  padding: 0.5rem 5.25rem; 
  width: min-content;
}


.case-study-dreamer h1 {
  font-family: "adobe-text-pro", serif;
  font-weight: normal;
  font-size: 4rem;
  text-align: left;
  margin-top: 2.7rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.case-study-dreamer h2 {
  font-family: "adobe-text-pro", serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 1.5rem 2.7rem 1rem 0rem;
  letter-spacing: 1.1px;
  text-align: left;
}


.case-study-dreamer ul,
.case-study-dreamer li {
  padding-left: 1.25rem;
  margin: 0rem 0 0.5rem 0;
}

.takeaways ul, .pain-points ul {
  list-style-type: decimal;
}

.takeaways li::marker, .pain-points li::marker {
  font-weight: 600;
  font-size: 1.1rem;
}

.takeaways .sub-section {
  padding-left: 3.6rem;
}

.takeaways .sub-section ul {
  list-style-type: decimal;
}

.takeaways {
  margin-bottom: 0.9rem;
}

.sub-section li::marker {
  font-size: 1.1rem;
  font-weight: 425;
}

.overview-info {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.case-study-dreamer .overview-info h3 {
  font-family: "forma-djr-text", sans-serif;
  color: rgba(43, 43, 43, 0.75);
  font-size: 1.15rem;
  font-weight: 625;
  margin: 0;
  text-align: center;
}

.case-study-dreamer .overview-info p {
  font-size: 1.1rem;
  font-weight: 425;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.case-study-dreamer .all-skills {
  width: 20vw;
  justify-content: center; /* center the grid as a whole */
  margin: 0rem;
}



.overview,
.pain-points,
.takeaways {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: left;
}

.case-study-dreamer
.overview p,
.case-study-dreamer
.pain-points p,
.case-study-dreamer
.takeaways p {
  width: 65vw;
  font-size: 1.1rem;
  font-weight: 425;
  text-align: left;
  margin-top: 1.35rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.overview img,
.pain-points img,
.takeaways img {
  margin: 1.8rem 0;
  width: 45vw;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
  width: 70%;
  overflow: hidden;        
}

.video-container video {
  position: relative;                  
  width: 105%;       /* make the video a bit wider so it fills height */
  height: auto;      /* keep the existing height */               
  margin-bottom: 1.8rem;
  object-fit: cover;            
  object-position: left center; 
}


.bold {
  font-weight: 625;
}

.italic {
  font-style: italic;
}

.vert-bar {
  font-weight: 625;
}

.arrow {
  font-weight: 800;
  font-size: 1.4rem;
  color: rgba(43, 43, 43, 0.8);
}

.case-study-dreamer .app-link {
  font-size: 1.1rem;
  color: #de7e5d;
  font-weight: 550;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.team a {
  text-decoration: none;

}

.case-study-dreamer .app-link:hover {
  font-size: 1.1rem;
  font-weight: 625;
  text-decoration: underline;
}

.seperator {
  height: 1.35rem;
}

.overview a,
.pain-points a,
.takeaways a {
  padding: 0;
  text-decoration: none;
  font-size: 1.1rem;
}

svg {
  position: absolute;
  width: 0;
  height: 0;
}

/*------------------------ Media Queries --------------------------*/

@media screen and (max-width: 768px) {

  .case-study-dreamer .main {
    margin: 3.5rem 0 2rem 0;
    padding: 0.5rem 0 0.5rem 5.5rem;
  }

  .case-study-dreamer .study {
    padding-left: 15%;
  }

  .img-caption h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 1rem 0rem 0 1rem;
    letter-spacing: 1.0px;
    width: 16vw;
  }

  .case-study-binary .video-container, .case-study-binary .figma-embed {
    width: 85%
  }

.overview .img-caption img,
.pain-points .img-caption img,
.takeaways .img-caption img {
  width: 47.5vw;
}

.case-study-dreamer .overview-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.case-study-dreamer .all-skills {
  width: auto;
}

.case-study-dreamer  h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.case-study-dreamer  h2 {
  font-size: 2.75rem;
}

.case-study-dreamer h4 {
  font-size: 2.5rem;
}

.case-study-dreamer .overview-info {
  display: flex;
  
}

.case-study-dreamer .overview-info h3 {
  font-size: 1rem;
}

.case-study-dreamer .video-container {
  width: 85%
}

.case-study-dreamer .overview p,
.case-study-dreamer .pain-points p,
.case-study-dreamer .takeaways p, 
.case-study-dreamer .app-link  {
  font-size: 1rem;
}

.case-study-dreamer .overview-info p, .case-study-dreamer .overview-info .app-link {
  font-size: 0.9rem;
}
}




@media screen and (max-width: 600px) {

  .case-study-dreamer {
    width: 100vw;
    align-items: center;
  }

  .case-study-dreamer .side-nav {
    display: none;
  }


  .case-study-dreamer .study {
    padding-left: 0%;
    align-items: center;
}

  .case-study-dreamer .main {
    margin: 3.5rem 0 0rem 0;
    padding: 0.5rem 0;
  }

  .case-study-dreamer .video-container, .case-study-dreamer .figma-embed {
    width: 95%;
}

.img-caption {
  flex-direction: column;
  align-items: start;
}


  .case-study-dreamer h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .overview .img-caption img, .pain-points .img-caption img, .takeaways .img-caption img {
    width: 85vw;
  }

  .img-caption h5 {
    width: 85vw;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  
  .case-study-dreamer .overview-info {
    width: 100%;
    margin-bottom: 0;
}

.case-study-dreamer .overview p, .case-study-dreamer .pain-points p, .case-study-dreamer .takeaways p, .case-study-dreamer .app-link {
  width: 100%;
}
}


@media screen and (max-width: 426px) {

  .case-study-dreamer .overview-info {
    gap: 0 0.5rem;
}

  .overview-info h3 {
    line-height: 1.15rem;
  }

  .case-study-dreamer .main {
    padding: 0 1rem;
  }
  .case-study-dreamer .all-skills {
    display: flex;
    flex-direction: column;
  }
  .overview img,
  .pain-points img,
  .takeaways img {
    width: 70vw;
  }

  video {
    width: 70vw;
  }
}

