@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p {
    line-height: 2rem;
}

.case-study-2 {
    font-family: "Barlow", sans-serif;
    width: 98.9vw;
}

.case-study-2 .title-block {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #C29DCC;
    width: 100%;
    margin: 3rem 0;
}

.case-study-2 .title-block img {
    width: 45rem;
    padding: 0;
    margin: 0;
}

.case-study-2 .title-block h1 {
    color: white;
    padding: 6rem 0 6rem 3rem;
    margin: 0;
}

.case-study-2 .study {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 3.5rem 5rem;
}


.case-study-2 .quick-links {
    position: sticky;
    top:0;
    margin-right: 12rem;
}

.case-study-2 .quick-links h5 {
    color: #AEAEAE;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1rem;
}

.case-study-2 .quick-links a {
    text-decoration: none;
}

.case-study-2 .quick-links h5:hover {
    color: #C29DCC;
    text-decoration: underline;
}


.case-study-2 .main h2 {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 2.25rem;
}

.case-study-2 .main h3 {
    font-weight: 600;
    font-size: 2rem;
    color: #C29DCC;
    margin-left: -0.1rem;
}

.case-study-2 .overview-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.case-study-2 .overview-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.case-study-2 .overview-info p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}

.case-study-2 .overview-info .team p {
    width: 20rem;
}

.case-study-2 .all-skills {
    margin: 1rem 0;
}

.case-study-2 .skill {
    background-color: #C29DCC;
}

.case-study-2 .skill p {
    margin: 0.25rem 0.75rem;
}

.case-study-2 .overview p {
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 2rem;
}

.case-study-2 .overview img {
    margin: 2rem 0;
    width: 40vw;
}

.case-study-2 .bold {
    font-weight: 700;
}

.case-study-2 .app-link {
    font-size: 1.25rem;
    color:#C29DCC;
    text-decoration: underline;
    padding: 0.25rem;
}

.case-study-2 .overview a {
    padding: 0;
}


.case-study-2 .research p {
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0rem;
}

.case-study-2 .research li {
    padding-bottom: 0.5rem;
}


.case-study-2 .research img {
    margin: -1rem 0;
    padding: 0;
    width: 50vw;
}



.case-study-2 .process img {
    width: 55vw;
}


.case-study-2 p {
    text-align: left;
}


.case-study-2 .process p  {
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 2rem;
}

.case-study-2 .process .app-link {
    padding: 0 0.25rem;
}

.case-study-2 .process a {
    padding: 0;
}

.case-study-2 .img-container, .case-study-2 .video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case-study-2 .img-container p {
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 0.5rem;
    text-align: center;
}

.case-study-2 video {
    width: 55vw;
    margin: 2rem 0;
}

.case-study-2 .design img {
    width: 60vw;
    margin-bottom: 2rem;
}

.case-study-2 .takeaways {
    margin-top: 2rem;
}

.case-study-2 .takeaways p  {
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 2rem;
}

.case-study-2 .thanks p  {
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin: 4rem 0 0 0;
}

